*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #222;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.container{
    display: flex;
    flex-direction: column;
    max-width: 100%;
    background-color: #444;
    border: 2px solid #777;
    box-shadow: 0 1px 10px rgb(0, 0, .5);
}

.container > .pantalla{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 150px;
    background-color: #333;
    transition: 1s;
}
.pantalla>label:nth-child(4){
    width: 300px;
    font-size: 72px;
    color: white;
    text-align: center;
    overflow: hidden;
   /* overflow-x: scroll;*/

}
.texto_1{
    font-size: 72px;
    color: white;
}
.texto_2{
    font-weight: bold;
    font-size: 18px;
    color: #666;
}
.ocultame{
    display: none;
}

.container> .tecla{
    display: grid;
    grid-template-columns:  1fr 1fr 1fr 1fr;
    max-width: 100%;
    height: 400px;
    background-color: #111;
}

.tecla> button{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
    color: white;
    font-weight: 700;
    background-color: #222;
    border: none;
}

.tecla> .number{
background-color: black;
}

.tecla> button:hover{
    color: black;
    background-color: #555;
    border: 2px solid #777;
    box-shadow:  0px 0px 14px 0px #888;
    cursor: pointer;
}
.tecla> button:active{
    color: white;
    text-shadow:0 0 14px wheat ;
    background-color: #222;
    border: 2px solid white;

}

span> sup{
    position: relative;
    font-size: 8px;
    font-weight: bold;
    margin-bottom: 10px;
}

span> sub{
    position: relative;
    font-size: 8px;
    font-weight: bold;
    margin-top: 10px;
}